<h1>List of Instructors</h1>

<table>
  <tr>
    <th>Email</th>
    <th>First</th>
    <th>Last</th>
    <th>Instructor ID</th>
  </tr>

  <% @instructors.each do |instructor| %>
    <tr>
      <td><%= instructor.email %></td>
      <td><%= instructor.first %></td>
      <td><%= instructor.last %></td>
      <td><%= instructor.instructor_id %></td>
    </tr>
  <% end %>
</table>

<style type="text/css">
td
{
    padding:0 0px 0 15px;
}
</style>
