<h1>List of Subjects</h1>

<table>
  <tr>
    <th>Subject_ID</th>
    <th>Name</th>
  </tr>

  <% @subjects.each do |subject| %>
    <tr>
      <td><%= subject.subject_id %></td>
      <td><%= subject.name %></td>
    </tr>
  <% end %>
</table>

<style type="text/css">
td
{
    padding:0 0px 0 15px;
}
</style>
